@model IEnumerable<MVCTest.Models.Goods>

@{
    ViewBag.Title = "Index";
}
<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle !important;
    }
</style>


<form method="get" action="/Goods/Index" class="navbar-form" style="margin-bottom:10px;margin-left:0">
    <a class="btn btn-primary" href="/Goods/Create"><span class="glyphicon glyphicon-plus"></span>  新增</a>
    <a class="btn btn-danger" href="javascript:;" id="mulDelete"><span class="glyphicon glyphicon-trash"></span>  批量删除</a>
    <input class="form-control" name="name" placeholder="请输入查询姓名" type="search" style="display:inline-block">
</form>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>
                <input type="checkbox" id="selectControl" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" class="slectItem" value="@item.Id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <a href="/Goods/Edit?id=@item.Id" class="btn btn-primary  btn-sm"><span class="glyphicon glyphicon-edit"></span>  编辑</a>
                    <button class="btn btn-danger  btn-sm removeBtn" data-id="@item.Id"><span class="glyphicon glyphicon-trash"></span>  删除</button>
                </td>
            </tr>
        }

    </table>
</div>


@section scripts{
    <script>
        ///<reference path="~/Scripts/MyTools.js" />
        $(function () {
            //单项删除的处理
            $(".removeBtn").on("click", function () {
                var id = $(this).data("id");
                MyTools.modalFrame({
                    body: "确定批量删除选中项？",
                    cancleBtn: "关闭"
                }, function () {
                    $.post("/Goods/DeleteItem", { ids: id }, function (resp) {
                        if (resp.code == 0) {
                            window.location.reload();
                        } else {
                            MyTools.alertFrame({
                                text: resp.msg
                            });
                        }
                    });
                });
            });

            //全选和反选的处理
            $("#selectControl").on("click", function () {
                if ($(this).is(":checked")) {
                    $(".slectItem").prop("checked", true);
                } else {
                    $(".slectItem").prop("checked", false);
                }
            });

            //全选和反选的处理
            $(".slectItem").on("click", function () {
                if (!$(this).is(":checked")) {
                    $("#selectControl").prop("checked", false);
                } else {
                    if ($(".slectItem").length === $(".slectItem:checked").length) {
                        $("#selectControl").prop("checked", true);
                    }
                }
            });

            //批量删除的处理
            $("#mulDelete").on("click", function () {
                var $selectItems = $(".slectItem:checked");
                if ($selectItems.length > 0) {
                    var ids = "";
                    $selectItems.each(function () {
                        ids += $(this).val() + ",";
                    });
                    MyTools.modalFrame({
                        body: "确定批量删除选中项？",
                        cancleBtn: "关闭"
                    }, function () {
                        $.post("/Goods/DeleteItem", { ids: ids }, function (resp) {
                            if (resp.code == 0) {
                                window.location.reload();
                            } else {
                                MyTools.alertFrame({
                                    text: resp.msg
                                });
                            }
                        });
                    });
                } else {
                    MyTools.modalFrame({
                        title: '警告',
                        body: "批量删除项不能为空",
                        cancleBtn: "关闭"
                    });
                }
            });
        });

    </script>
}
